<div class="w-1/2 p-4">
  <div class="my-4">
    <label for="behaviour" class="block text-grey-darker text-sm font-bold mb-2">Behaviour description</label>

    <Textarea id="behaviour"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
      @value={{this.description}}
    ></Textarea>
  </div>

  <div class="my-4">
    {{#let (array
            (hash value="unallocated" name="Unallocated")
            (hash value="self" name="Self")
            (hash value="others" name="Others")
            (hash value="expertise" name="Expertise")
          ) as |listOptions|}}

      <label for="list" class="block text-grey-darker text-sm font-bold mb-2">List</label>
      <select id="list" label="" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey"
              onchange={{action (mut this.list) value="target.value"}}>
        {{#each listOptions as |listOption|}}
          <option value={{listOption.value}} selected={{eq listOption.value this.list}}>
            {{listOption.name}}
          </option>
        {{/each}}
      </select>
    {{/let}}
  </div>

  <div class="my-4">
    <label for="team_id" class="block text-grey-darker text-sm font-bold mb-2">Team ID</label>
    <Input id="team_id"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
      @value={{this.team}} />
  </div>
  {{#link-to "admin"}}Cancel{{/link-to}}
  <button class="border p-2 rounded border-grey bg-grey-light shadow-lg hover:shadow hover:bg-grey" onclick={{this.saveBehaviour}}>Save</button>
</div>