<div class="flex min-h-screen">
  {{#unless @hideUnallocated}}
    <BehaviourList @title="Behaviours"
                   @behaviours={{this.unallocated}}
                   @moveBehaviour={{action this.moveBehaviour "unallocated"}} />
  {{/unless}}
  <BehaviourList @title="Self"
                 @behaviours={{this.self}}
                 @moveBehaviour={{action this.moveBehaviour "self"}} />

  <BehaviourList @title="Others"
                 @behaviours={{this.others}}
                 @moveBehaviour={{action this.moveBehaviour "others"}} />

  <BehaviourList @title="Expertise"
                 @behaviours={{this.expertise}}
                 @moveBehaviour={{action this.moveBehaviour "expertise"}} />
</div>
